
#title
{
    position: absolute;
    width: 100%;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

#description
{
    position: absolute;
    width: 100%;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    bottom: 5%;
    font-weight: 600;
}

#loader
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    display: grid;
    overflow: hidden;
    background: url("../media/images/loaderbackground.jpg");
    background-size: 200% 200%;
    animation: backgroundmove 8s linear infinite;
    z-index: 100;
}

#loadingcircle
{
    display: grid;
    filter: drop-shadow(0px 0px 5px #FFF);
}

#loadingcirclefill
{
    position: absolute;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1s linear infinite;
}

#percentage
{
    font-size: 10rem;
    font-weight: 700;
    color: #FFF;
    margin: auto;
}

circle
{
    fill: none;
    stroke: #FFF;
    stroke-width: 25px;
    filter: drop-shadow(0px 0px 10px #FFF);
    stroke-dasharray: 275%;
    stroke-dashoffset: 274%;
    animation: load 2.5s linear forwards;
}

@keyframes rotate
{
    to
    {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes load
{
    to { stroke-dashoffset: 0%;}
}

@keyframes backgroundmove
{
    to
    {
        background-position: 100%;
    }
}

@keyframes fadeout
{
    to {opacity: 0;}
}

.fadeout
{
    animation: backgroundmove 8s linear infinite, fadeout 1s linear forwards !important;
}